## streak_counter.py Function tests

The goal of this file is to run tests on streak_counter.py Once this function is complete, backtesting will be simple as we will able to call the function, specify the dates and the current streak and it will tell us what our new streak is

In [1]:
import pandas as pd
import numpy as np
import datetime
import sys
sys.path.append('../')
from streak_counter import hit_checker, streak_counter

df = pd.read_csv('../retrosheet_data/2005-2018_games.csv')

In [2]:
df3 = df.copy()
df3['ab_flag'] = df3.ab_flag.map({'F':0,'T':1})
df3.rename(columns={'unknown':'double_header_flag'},inplace=True)

In [3]:
df3.head()

,game_id,away_team,inning,batting_team,outs,balls,strikes,vis_score,home_score,res_batter,...,num_errors,batter_dest,runner_on_1st_dest,runner_on_2nd_dest,runner_on_3rd_dest,home_team,year,month,day_,double_header_flag
0,ANA200504050,TEX,1,0,0,1,0,0,0,soria001,...,0,2,0,0,0,ANA,2005,4,5,0
1,ANA200504050,TEX,1,0,0,3,0,0,0,blalh001,...,0,1,0,2,0,ANA,2005,4,5,0
2,ANA200504050,TEX,1,0,0,2,2,0,0,younm003,...,0,1,0,3,0,ANA,2005,4,5,0
3,ANA200504050,TEX,1,0,1,2,2,0,0,teixm001,...,0,0,1,0,3,ANA,2005,4,5,0
4,ANA200504050,TEX,1,0,2,0,2,0,0,hidar001,...,0,0,1,0,3,ANA,2005,4,5,0

In [4]:
year = 2009
month = 6
day = 26

date is set to 2009 - 6 - 26 or June 26   2009
the games in question can be found at the following links for a visual representation
first game : https://www.baseball-reference.com/boxes/ATL/ATL200906260.shtml
second game: https://www.baseball-reference.com/boxes/ARI/ARI200906260.shtml

players chosen for tests:

    Kevin Youkilis: youkk001         : went 0-3 on 4 plate apperances on June 26, 2009
    Tori Hunter: huntt001            : went 1-4 in 5 plate apperances on June 26, 2009
    Dustin Pedroia: pedrd001         : went 2-4 in 4 plate appearances on June 26, 2009
    Hank Aaron: aaroh101             : mlb legend who played during the 50s, 60s and 70s
    Jonathan Papelbon: papej001      : pitched, did not get an official at-bat during the game
    George Kottaras: kottg001        : did not play on June 26, 2009 despite him being on the active roster of the RedSox
    Jacoby Ellsbury: ellsj001        : he pinch hit going 0-1, in BTS, this would count and your streak would reset to 0
    

I am going to test the code below and issue another revision once I modify the functions for double headers. The BTS rules specify how these games should be treated. In this version, the code doesn't treat these types of discrepancy so I will need to fix this shortly.

# Test date and time

In [5]:
datetime.datetime.now()

datetime.datetime(2019, 4, 30, 13, 1, 29, 656250)

## Testing out streak_counter function

Lets test out streak_counter which is a direct copy-paste of hit_checker except it takes an extra argument, the current streak and returns the new streak lenght depending on the results.

We will test it out with a starting streak of 10 which is the second last argument you give in the function (last is default setting used for double headers, will be tested after)

In [6]:
players1 = ['huntt001']             # hit
players2 = ['huntt001','pedrd001']  # hit, hit
players3 = ['huntt001','youkk001']  # hit, no hit
players4 = ['youkk001','huntt001']  # no hit, hit
players5 = ['huntt001','aaroh101']  # hit, not in the roster
players6 = ['aaroh101','huntt001']  # not in the roster, hit
players7 = ['youkk001']             # no hit
players8 = ['aaroh101']             # not in the roster
players9 = ['papej001']             # played but did not have an AB
players10 = ['papej001','huntt001'] # played but did not have an AB, hit
players11 = ['huntt001','papej001'] # hit, played but did not have an AB
players12 = ['papej001','youkk001'] # played but did not have an AB, no hit
players13 = ['youkk001','papej001'] # no hit, played but did not have an AB
players14 = ['kottg001']            # was on roster but did not play
players15 = ['kottg001','huntt001'] # was on roster but did not play, hit
players16 = ['huntt001','kottg001'] # hit, was on roster but did not play
players17 = ['kottg001','youkk001'] # was on roster but did not play, no hit
players18 = ['youkk001','kottg001'] # no hit, was on roster but did not play
players19 = ['ellsj001']            # pinch hit, went 0-1

In [7]:
streak_counter(df3, year, month, day, players1, 10), streak_counter(df3, year, month, day, players2, 10)

#picked 1 player who got a hit                                                    players1 case: expected: 11 : pass
#picked 2 players, both of which got a hit                                        players2 case: expected: 12 :  pass

(11, 12)

In [8]:
streak_counter(df3, year, month, day, players3, 10), streak_counter(df3, year, month, day, players4, 10)

# picked 2 players. first got a hit, second didn't            players3 case: expected: 0 : pass
# picked 2 players, first didn't get a hit, second got a hit  players4 case: expected: 0 : pass

(0, 0)

In [9]:
streak_counter(df3, year, month, day, players5, 10), streak_counter(df3, year, month, day, players6, 10),

# picked 2 players. first got a hit, second did not play      players5 case: expected 11: pass
# picked 2 players. first did not play, second got a hit      players6 case: expected 11: pass

(11, 11)

In [10]:
streak_counter(df3, year, month, day, players7, 10), streak_counter(df3, year, month, day, players8, 10)

#picked 1 player who played and did not get a hit             players7 case: expected 0: pass
#picked 1 player who did not play                             players8 case: expected 10: pass

(0, 10)

In [11]:
streak_counter(df3, year, month, day, players9, 10), streak_counter(df3, year, month, day, players10, 10),

#picked a player who played but did not get an At-Bat                                players9 case : expected 10: pass
#picked 2 players. first played but did not get an At-Bat, second player got a hit   players10 case: expected 11: pass

(10, 11)

In [12]:
streak_counter(df3, year, month, day, players11, 10), streak_counter(df3, year, month, day, players12, 10),

#picked 2 players: first player got a hit, second player played but did not get an At-Bat   players11 case: expected 11: pass
#picked 2 players: 1st played but did not get an At-Bat, 2nd player had At-Bats but no hits players12 case: expected 0: pass

(11, 0)

In [13]:
streak_counter(df3, year, month, day, players13, 10), streak_counter(df3, year, month, day, players14, 10)

#picked 2 players: 1st player had At-Bats but no hits, 2nd played but did not get an At-Bat: players13 case: expected 0: pass
#picked a player who was on the roster but did not play:                                     players14 case: expeceted 10: pass

(0, 10)

In [14]:
streak_counter(df3, year, month, day, players15, 10), streak_counter(df3, year, month, day, players16, 10)

#picked 2 players, 1st was on the roster but did not play, 2nd got a hit                 players15 case: expected 11: pass
#picked 2 players, 1st got a hit, 2nd was on roster but did not play                     players16 case: expected 11: pass

(11, 11)

In [15]:
streak_counter(df3, year, month, day, players17, 10), streak_counter(df3, year, month, day, players18, 10)

#picked 2 players, 1st was on the roster but did not play, 2nd played, had At-Bats but no hits players17 case: expected 0: pass
#picked 2 players: 1st played, had At-Bats but no hits, 1st was on the roster but did not play players18 case: expected 0: pass

(0, 0)

In [16]:
streak_counter(df3, year, month, day, players17, 10)

#picked 1 player who came off bench pinch hitting, had only 1 AB but 0 hits.                  players19 case: expected 0: pass

0

## Testing for double headers

BTS rules state the following:
<br><br> 1. In the event that you already chose your player in advance and there happens to be a double header, your pick will default to Game 1 of the double header.
<br>  2. If you haven't chosen a player yet for a specific game, and there is a known double header going on, you need to select which game you choose him in.
<br> 3. You can select the same player twice, once when he plays in Game 1 and once again when he plays in Game 2

In [17]:
# def streak_counter(df,year,month,day, players, streak, game_numb = [[0,1],[0,1]]):
# this is the current streak_counter function, game_numb needs to be passed as a list in a list, also if any of the players
# are playing in a double header, you need to specify the game number for both

# Game 1: Angels vs Redsox: https://www.baseball-reference.com/boxes/ANA/ANA201507201.shtml   
# Game 2: Angels vs Redsox  https://www.baseball-reference.com/boxes/ANA/ANA201507202.shtml 

year  = 2015
month = 7
day   = 20

players20 = ['gonza003']   # did not play in a double header, went 2-5 that day
players21 = ['pedrd001']   # went hitless game 1 and game 2
players22 = ['sandp001']   # game 1: 2-4  game 2: 0-4   
players23 = ['sandp001','gonza003']   # played double header, did not play in double header but went 2-5
players24 = ['gonza003','sandp001']   # did not play in double header but went 2-5, played in double header
players25 = ['huntt001','sandp001']   # did not play, played double header
players26 = ['sandp001','huntt001']   # played double header, did not play

In [18]:
streak_counter(df3, year,month,day,players20, 10, game_numb=[[0]])
# hit, did not play in double header
# expected 11: pass

11

In [19]:
streak_counter(df3, year,month,day,players21, 10) 
#we are checking dustin predoia who played a double header, if you don't specify any game number then it will default to game 1
# expected: 0: pass

0

In [20]:
streak_counter(df3, year,month,day,players22, 10) 
# now we are checking pablo sandoval, again no game number is specified so it will default to game 1 which is where he got a hit
# expected: 11 : pass

11

In [21]:
streak_counter(df3, year,month,day,players22, 10, game_numb=[[1]]) 
# again, picking pablo sandoval but now we can specify the game number as being the first in the double header
# expected: 11: pass

11

In [22]:
streak_counter(df3, year,month,day,players22, 10, game_numb=[[2]]) 
# picking pablo sandoval but specifying Game 2 where he went 0-4
# expected: 0: pass

0

In [23]:
streak_counter(df3, year,month,day,players23, 10, game_numb=[[0,1],[0,1]])
# we want Pablo Sandoval and Adrian Gonzalez both game 1
# if you dont know if the second player played a double header, it is best to specify [0,1]
# expected: 12: pass

12

In [24]:
streak_counter(df3, year,month,day,players23, 10, game_numb=[[2],[0,1]])
# AB w/ no hits, hit
# expected: 0: pass

0

In [25]:
streak_counter(df3, year,month,day,players24, 10, game_numb=[[0,1],[0,1]])
# hit - hit 
# expected: 12: pass

12

In [26]:
streak_counter(df3, year,month,day,players24, 10, game_numb=[[0,1],[2]])
# hit - AB w/no hit
# expected: 0: pass

0

In [27]:
streak_counter(df3, year,month,day,players25, 10, game_numb=[[0,1],[1]])
# did not play - hit
# expected: 11: pass

11

In [28]:
streak_counter(df3, year,month,day,players25, 10, game_numb=[[0,1],[2]])
# did not play - AB w/ no hits
# expected 0 : pass

0

In [29]:
streak_counter(df3, year,month,day,players26, 10, game_numb=[[1],[0,1]])
# hit, did not play
# expected: 11: pass

11

In [30]:
streak_counter(df3, year,month,day,players26, 10, game_numb=[[2],[0,1]])
# AB w/ no hits, did not play
# expected: 0: pass

0

End